html {
  height:100%;
}
#bodyAnadir{
	text-align:center;
	margin-top:20px;
}
nav {
	margin:auto;
	margin-top:30px;
	background-color: white;
	border-radius: 10px;
	width:400px;
}
.cover-heading{
	margin-top:30px;
}
body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #9933cc 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

a{
	 text-color:white;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:20s;
}

.lead{
	margin-top: 50px;
	display:block;
	}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
