<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="utf-8">
    
    <title>Home</title>

    <link rel="stylesheet" th:href="cover.css">

    <!-- Bootstrap core CSS -->
<link th:href="min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      
    </style>
    <!-- Custom styles for this template -->
  </head>
  <body class="text-center">
  <div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Andrómeda</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link" href="/mimusica">Mi Música</a>
          <a class="nav-link" href="/mail">Contacto</a>
		 <a class="nav-link" href="/logout">Salir</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h2 class="cover-heading">Disfruta de tu música, crea y guarda listas personalizadas.</h2>
    <p class="lead">
       <a class="twitter-timeline" data-lang="es" data-width="200" data-height="400" data-theme="light" href="https://twitter.com/_AndromedaMusic?ref_src=twsrc%5Etfw">Tweets by Andrmed32974706</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
    
    </div>
  </footer>
</div>
</body>
</html>
