<!doctype html><html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">  <head>
    <meta charset="utf-8">
    
<head>
	<meta charset="UTF-8">
	<title>Añadir Lista</title>

    <link rel="stylesheet" th:href="@{/cover.css}">

    <!-- Bootstrap core CSS -->
<link th:href="@{/min.css}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      
    </style>
    <!-- Custom styles for this template -->
  </head>
  <body id="bodyAnadir">
  <div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<h2> Añadir Lista</h2>



	<form action="/lista/save" th:object="${lista}" method="POST">
		<input type="text" placeholder="Nombre de la lista" th:field="*{nombre_lista}">
		<button type="sumbit">Crear Lista</button>
	</form>


</body>
</html>

