<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
 
    <title>Register</title>
    <link href="./register.css"
      rel="stylesheet" type="text/css">
</head>
<body>
<h1>Registro</h1>
<table>
    <td id="tabla">
    <form action="">
        <label for="Nombre">Nombre:</label><br>
        <input type="text" id="Nombre" name="Nombre"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="Apellidos" name="Apellidos"><br>
        <label for="email">Correo:</label><br>
        <input type="text" id="Correo" name="Correo"><br>
        <label for="Contraseña">Contraseña:</label><br>
        <input type="Contraseña" id="Contraseña" name="Contraseña"><br><br>
        <input type="submit" name="submit" id="submit" value="Enviar">
      </form> 
    </td>
    </table>
</body>
</html>